{
  "env": {
    "node": true
  },
  "parserOptions": {
    "sourceType": "module",
    "ecmaVersion": "latest"
  },
  "extends": [
    "plugin:bedrock/recommended",
    "plugin:bedrock/imports-node",
    "plugin:bedrock/jest"
  ],
  "rules": {
    "no-console": "off"
  }
}